# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/

# Dataset
data/creditcard.csv

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Build
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# Model artifacts (optional)
artifacts/model/model.pkl
artifacts/model/scaler.pkl
logs/
mlruns/